%div.modal-header
  %h2
    %i.icon-inbox
    Unread Messages
%div.modal-body
  - if current_user.received_messages.unread.empty?
    .message
      You have no unread messages
  - else
    - current_user.received_messages.unread.limit(3).each do |message|
      .message
        %h4
          = link_to message_path(message) do
            = message.subject
        %br
        %p= truncate(strip_tags(message.body), :length => 150)
        %p
          %i.icon-user
          = link_to get_name(message.sender), profile_user_path(message.sender)
          &mdash;
          %a
            = link_to "Read full &raquo;".html_safe, message_path(message)
%div.modal-footer
  %span.pull-right
    %a.btn{:href => '#', :onClick => '$(this.parentNode.parentNode.parentNode).modal("hide")'}
      Close
    %a#gotoinbox.btn.btn-primary{:href => messages_path}
      Go to Inbox
