%input{:type=>"hidden", :value => "messages.#{@message.id}", :id => "page_identifier"}
= link_to "&laquo; back to Inbox".html_safe, messages_path
= image_tag Gravatar.new(@message.sender.email).image_url, :class => 'img-rounded pull-right'
%h2= @message.subject
%p
  %em
    = get_date(@message)
    &mdash; from 
    = link_to get_name(@message.sender), profile_user_path(@message.sender)
%p
  = @message.body.html_safe
%p
  = button_to "Delete", message_path(@message), :class => 'btn btn-danger', :confirm => "are you sure?", :method => :delete