= link_to "&laquo; back to Inbox".html_safe, messages_path
%h2= @message.subject
%p
  %em
    = @message.created_at.to_s
    &mdash; from 
    = link_to @message.sender.firstname + " " + @message.sender.lastname, profile_user_path(@message.sender)
= simple_format(@message.body)