<p id="title">
  <b>Title:</b>
  <%= challenge.title %>
</p>

<p id="description">
  <b>Description:</b>
  <%= challenge.description %>
</p>

<p id="start_date">
  <b>Start date:</b>
  <%= challenge.start_date.strftime("%d-%m-%Y") %>
</p>

<p id="end_date">
  <b>End date:</b>
  <%= challenge.end_date.strftime("%d-%m-%Y") %>
</p>

<p id="state">
  <b>State:</b>
  <%= challenge.state %>
</p>

<p id="count">
  <b>Count:</b>
  <%= challenge.count %>
</p>

<% if challenge.editable_by_user? current_user%>
  <%= link_to 'Edit', edit_challenge_path(challenge) %> |
<% end %>

<% if !challenge.start_date.nil? && challenge.start_date > Time.now && challenge.state == "approved" && !enrolled? %>
  <%= link_to 'Enroll', enroll_challenge_path(challenge) %>
<% elsif enrolled? %>
  <%= link_to 'Unenroll', unenroll_challenge_path(challenge) %>
<% end %>


<% if(challenge.state.eql? "approved" or challenge.state.eql? "pending") %>
  <%= link_to 'Revoke', revoke_challenge_path(challenge) %> |
<% end %>
<%= link_to 'Back', challenges_path %>
