.challenge_detail
  %h2#title= @challenge.title
  - if @challenge.supervisor.present?
    %p.supervisor
      %i.icon-user
      %strong Supervised by
      = link_to @challenge.supervisor.fullname, profile_user_path(@challenge.supervisor)
  - if @challenge.running?
    .alert.alert-success
      This challenge has begun!

  %ul.nav.nav-tabs
    %li.active
      %a{href: "#"} Info

  .row
    .description#description.span8
      .video
        = image_tag @challenge.image.url
        / %img{:alt => "", src: "http://lorempixel.com/620/400/#{['technics','city'].sample}/?#{rand(1..999999)}"}
      %p.lead
        = @challenge.lead
      = markdown(@challenge.description)
    .details.span4.well
      - if @challenge.supervisor == current_user
        %p.detail
          -if @challenge.draft? || @challenge.declined?
            = link_to 'Edit', edit_challenge_path(@challenge), :class => 'btn'
          -else
            = link_to 'Edit', "#", :class => 'btn disabled'
          %a{:class => "btn btn-primary", :onClick => "composeMessage('challenge', #{@challenge.id})"}
            Send a Message
          %br
          = form_for @challenge, :url => @url, :html => {:multipart => true, :class => "challenge-form form-horizontal"}  do |f|
            -if @challenge.draft? 
              = f.submit 'Submit for Review', :class => "btn btn-primary", :confirm => "You are submitting your challenge for review, continue?"
            -elsif @challenge.declined?
              = f.submit 'Resubmit for Review', :class => "btn btn-primary", :confirm => "You are submitting your challenge for review, continue?"
        %hr
      %p.detail
        %i.icon-group
        %strong#participants_count
          = @challenge.participants.count
        %span.type= pluralize(@challenge.participants.count, "Participant").split.last
      %p.detail
        %i.icon-time
        %strong#commitment
          = @challenge.commitment
        %span.type Hours/week
      %p.detail
        %i.icon-calendar
        %strong#day_of_week
          = @challenge.day_of_week
        %span.type= @challenge.from_till
      %p.detail#location
        %i.icon-map-marker
        %strong= @challenge.location
      //------------------------------------------------------
      %hr
      .action
        = render :partial => "shared/enroll_button", :locals => {:challenge => @challenge}
      %hr
      //------------------------------------------------------
      - if @challenge.supervisor.present?
        .supervisor_detail
          %h3 About the supervisor:
          = render :partial => "profile/profile_tile", :object => @challenge.supervisor, :as => :user
        %hr
      //------------------------------------------------------
      .participants_detail
        %h3 Participants:
        = render :partial => "profile/profile_small_tile", :collection => @challenge.participants.decorate, :as => :user