.page-header
  %h1 Team

.row.vertical-spacing-big.center
  .span3
    .row
      .span3
        = image_tag Gravatar.new("boersma.marcel@gmail.com").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Marcel Boersma
  .span3.offset1
    .row
      .span3
        = image_tag Gravatar.new("koen.vanurk@me.com").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Koen van Urk
  .span3.offset1
    .row
      .span3
        = image_tag Gravatar.new("bcleenders@gmail.com").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Bram Leenders
.row.vertical-spacing-big.center
  .span3.offset2
    .row
      .span3
        = image_tag Gravatar.new("basveeling@gmail.com").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Bas Veeling
  .span3.offset1
    .row
      .span3
        = image_tag Gravatar.new("hiemstra@cs.utwente.nl").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Djoerd Hiemstra
#push