<input type="hidden" id="page_identifier" value="static.team">

.page-header
  %h1 Team

.row.vertical-spacing-big.center
  .span3
    .row
      .span3
        = image_tag Gravatar.new("boersma.marcel@gmail.com").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Marcel Boersma
        %br
        %a{:href => "http://nl.linkedin.com/in/marcelboersma", :style => "text-decoration:none;", :target=>"_blank"}
          %span{:style => "font: 60% Arial,sans-serif; color:#0783B6;"}
            %img{:alt => "View Marcel Boersma's LinkedIn profile", :border => "0", :height => "15", :src => "http://www.linkedin.com/img/webpromo/btn_in_20x15.png", :style => "vertical-align:middle", :width => "20"}>/
            View Marcel Boersma's profile
  .span3.offset1
    .row
      .span3
        = image_tag Gravatar.new("koen.vanurk@me.com").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Koen van Urk
        %br
        %a{:href => "http://twitter.com/koenvanurk", :style => "text-decoration:none;", :target => "_blank"}
          %span{:style => "font: 60% Arial, sans-serif; color: #0783B6;"}
            %i.icon-twitter-sign.icon-large
            View Koen van Urk's profile
  .span3.offset1
    .row
      .span3
        = image_tag Gravatar.new("bcleenders@gmail.com").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Bram Leenders
        %br
        %a{:href => "http://nl.linkedin.com/pub/bram-leenders/42/1b0/275", :style => "text-decoration:none;", :target=>"_blank"}
          %span{:style => "font: 60% Arial,sans-serif; color:#0783B6;"}
            %img{:alt => "View Bram Leenders' LinkedIn profile", :border => "0", :height => "15", :src => "http://www.linkedin.com/img/webpromo/btn_in_20x15.png", :style => "vertical-align:middle", :width => "20"}>/
            View Bram Leenders' profile
.row.vertical-spacing-big.center
  .span3.offset2
    .row
      .span3
        = image_tag Gravatar.new("basveeling@gmail.com").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Bas Veeling
        %br
        %a{:href => "http://nl.linkedin.com/pub/bas-veeling/27/37a/27", :style => "text-decoration:none;"}
          %span{:style => "font: 80% Arial,sans-serif; color:#0783B6;"}
            %img{:alt => "View Bas Veeling's LinkedIn profile", :border => "0", :height => "15", :src => "http://www.linkedin.com/img/webpromo/btn_in_20x15.png", :style => "vertical-align:middle", :width => "20"}>/
            View Bas Veeling's profile
  .span3.offset1
    .row
      .span3
        = image_tag Gravatar.new("hiemstra@cs.utwente.nl").image_url+"?s=150", :class => 'rounded-image'
    .row
      .span3.team-name
        Djoerd Hiemstra
#push
