.challenge.span4
  - if !options[:no_status] && challenge.current_user_enrolled?
    .status
      %span.badge.badge-success
        %i.icon-ok-sign
        You're enrolled
  - elsif !options[:no_status] && challenge.warn_current_user_enrollment?
    .status
      %span.badge.badge-warning
        - if challenge.days_till_enrollment_closes > 1
          Enrollment closes in
          = pluralize(challenge.days_till_enrollment_closes, "day")
        - else
          Enrollment closes today!
  %a.thumb{:href => challenge_path(challenge)}
    = image_tag challenge.image.thumb.url
    / %img{:alt => "", src: "http://lorempixel.com/300/120/#{['technics','city','people'].sample}/?#{rand(1..999999)}"}
    %h4= challenge.title
  - if challenge.supervisor.present?
    .supervisor
      %i.icon-user
      %strong Supervised by
      = link_to challenge.supervisor.fullname, profile_user_path(challenge.supervisor)

  %p.description= challenge.lead

  %p.date
    %span.start-stop
      = challenge.human_date_string
  .progress
    .bar.bar-success{style: "width: #{challenge.percentage_date}"}

  %ul.details
    - if challenge.running?
      %li
        %strong
          %i.icon-calendar
          = challenge.days_till_end
        %span.muted
          = pluralize(challenge.days_till_end, "Day").split.last
          to go
    - elsif challenge.upcoming?
      %li
        %strong
          %i.icon-calendar
          = challenge.days_till_start
        %span.muted
          = pluralize(challenge.days_till_end, "Day").split.last
          till start
    - else
      %li
        %strong
          %i.icon-calendar
          0
        %span.muted Challenge is over
    %li
      %strong
        %i.icon-group
        = challenge.participants.count
      %span.muted= pluralize(challenge.participants.count, "Participant").split.last
    %li
      %strong
        %i.icon-time
        = challenge.commitment
      %span.muted Hours/week
