%h3
  = "#{@user.firstname}'s followers"
- @user.follows.each do |u|
  %div.follows_item
    %span.follow_button
      - if is_following?(u) && u.id != current_user.id
        = link_to 'Unfollow', user_follow_path(u.id, :id => 0), :method => :delete, :class => "btn btn-info"
      - elsif ( u.id != current_user.id)
        = link_to 'Follow', user_follow_index_path(u), :method => :post, :class => "btn btn-success"
      - else
    %span.follow_image
      = image_tag Gravatar.new(u.email).image_url, :class => 'img-rounded follow_image_small'
    %span.follow_name
      = link_to "#{u.firstname} #{u.lastname}", profile_user_path(u)

    
      
