%input{:type => :hidden, :id =>'page_identifier', :value => "admin/users.#{@user.id}.edit"}

%h1
  Admin user edit - 
  - @user.firstname

=form_for :user, :url => admin_user_path(@user), :html => { :method => :put } do |form|
  %p
    = label :user, :email
    = form.text_field :email
  %p
    = label :user, :role
    = form.select :role, options_for_select([['student', 0], ['supervisor', 1], ['admin', 2]], @user.role)
  %p
    = form.submit "Update user"

%p
  %a{:href => admin_usermanagement_index_path }
    Back
  to user management