%input{:type => :hidden, :id =>'page_identifier', :value => "admin/users.new"}

%h1
  Add user

=form_for :user, :url => admin_users_path, :html => { :method => :post } do |form|
  %p
    = label :user, :firstname
    = form.text_field :firstname
  %p
    = label :user, :lastname
    = form.text_field :lastname
  %p
    = label :user, :email
    = form.text_field :email
  %p
    = label :user, :active
    = form.check_box :active, :value => true
  %p
    = label :user, :role
    = form.select :role, options_for_select([['student', 0], ['supervisor', 1], ['admin', 2]])
  %p
    = label :user, :notify_by_email
    = form.check_box :notify_by_email, :value => true
  %p
    = form.submit "Save user", :class => "btn btn-primary"

%p
  %a{:href => admin_usermanagement_index_path }
    Back
  to user management