%tr
  %td.id= user.id
  %td.title= link_to user.firstname, profile_user_path(user)
  %td.title= user.lastname
  %td.email= user.email
  %td.role= (['student', 'supervisor', 'admin'])[user.role]
  %td.actions
    -if user.id.eql? current_user.id
      %a{:class => "btn disabled"}
        %i.icon-envelope
    -else
      %a{:class => "btn", :onClick => "composeMessage('user', #{user.id})"}
        %i.icon-envelope

    %a{:class => "btn", :href => edit_admin_user_path(user) }
      %i.icon-pencil

    -if user.id.eql? current_user.id
      %a{:class => "btn disabled"}
        %i.icon-trash.color-pomegranate
    -else
      %a{:class => "btn", :href => admin_user_path(user), :data => {:method => :delete, :confirm => "Are you sure you want to remove user \"#{user.firstname}\" from the system?" }}
        %i.icon-trash.color-pomegranate
