%input{:type=>"hidden", :value => "user.#{@user.id}.profile", :id => "page_identifier"}

%div.row
  %span.span9
    %div.profile.span6
      %span.profile_image.pull-left
        = image_tag Gravatar.new(@user.email).image_url, :class => 'img-rounded'
      %span.profile_info.span4
        %div.profile_name
          = @user.fullname
        %div.profile_tagline
          = @user.tagline
        %div.profile_info_icons
        %div.profile_buttons
          - if follows?(@user) && @user.id != current_user.id
            = link_to 'Unfollow', user_follow_path(@user), :method => :delete, :class => "btn btn-info"
          - elsif ( @user.id != current_user.id)
            = link_to 'Follow', user_follow_index_path(@user), :method => :post, :class => "btn btn-success"

          - if @user.id != current_user.id
            - if current_user.can_send_message_to_user?(@user)
              %a{:href => "#", :class => "btn btn-primary", :onClick => "composeMessage('user', #{@user.id})"} Send a Message
            - else
              %a{:href => "#", :class => "btn disabled", 'data-toggle' => "tooltip", :title => "You can only send messages to people who follow you, or who are enrolled in the same challenge as you.", :id => "nosend_tooltip", "data-placement"=> 'bottom'} Send a Message

    %div.span6
      %h3
        Challenges
      .challenges-list.row#challenges
        = render @user.participating_challenges.decorate, :options => (options ||= {})
  %span.span3
    %div.followers
      %h3
        = "#{@user.firstname}'s followers"
      - @user.followers.order("created_at DESC").limit(5).each do |follower|
        %div.follows_item
          %span.follow_image
            = image_tag Gravatar.new(follower.email).image_url, :class => 'img-rounded follow_image_small'
          %span.follow_name
            = link_to "#{follower.firstname} #{follower.lastname}", profile_user_path(follower)
      
      = link_to 'See all followers', user_followers_path(@user)
  
    %div.following
      %h3
        ="#{@user.firstname} follows"
      - @user.follows.order("created_at DESC").limit(5).each do |follows|
        %div.follows_item
          %span.follow_image
            = image_tag Gravatar.new(follows.email).image_url, :class => 'img-rounded follow_image_small'
          %span.follow_name
            = link_to "#{follows.firstname} #{follows.lastname}", profile_user_path(follows)
      
    = link_to 'See all', user_follows_path(@user)
