%tr
  %td.title= challenge.title
  %td.date= challenge.human_readable_start_date
  %td.date= challenge.human_readable_end_date
  %td.count= challenge.count
  %td.link= link_to 'Review', admin_review_path(challenge)
