%footer.footer
  .container
    .row
      .span2.footer-logo
        = image_tag 'fav64.png'
      .span2
        %p.footer-title
          About us
        %ul.footer-links
          %li
            = link_to 'Science challenges', aboutus_path
          %li
            = link_to 'Team', team_path
          %li 
            = link_to 'Press', press_path
          %li
            %a{:href => "mailto:contact@sciencechallenges.nl"}
              Contact
      .span2
        %p.footer-title Create
        %ul.footer-links
          %li 
            = link_to "Create a challenge", createchallenge_path
          %li 
            = link_to "Challenge guidelines", challengeguidelines_path
      .span2
        %p.footer-title Join
        %ul.footer-links
          %li 
            = link_to "Universities", universities_path
          %li 
            = link_to "Companies", companies_path
          %li 
            = link_to "Students", new_user_session_path
      .span2
        %p.footer-title Legal
        %ul.footer-links
          %li 
            = link_to "Terms of Service", termsofservice_path
          %li 
            = link_to "Privacy", privacy_path
      .span2
        %p.footer-title Share
        %ul.footer-social
          %li 
            %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.sciencechallenges.nl&send=false&layout=standard&width=100&show_faces=false&font&colorscheme=light&action=like&height=35&appId=169871116514358", :style => "border:none; overflow:hidden; width:250px; height:35px;"}
          %li 
            %a.twitter-share-button{"data-count" => "none", "data-text" => "Find a challenge and unlock your potential at", "data-url" => "http://www.sciencechallenges.nl", :href => "https://twitter.com/share"} Tweet
          %li 
            %script{:src => "//platform.linkedin.com/in.js", :type => "text/javascript"}
              lang: en_US
            %script{"data-url" => "www.sciencechallenges.nl", :type => "IN/Share"}
