%a.brand{href: root_path}
  = image_tag "logoblack.png"
  %span
    = precede("Science") do
      %strong Challenges
%ul.nav
- if user_signed_in?
  %ul.nav
    %li.divider-vertical
    %li
      - if current_user.received_messages.unread.empty?
        %a#mailbox.inactive{ :onClick => "addModal()" ,  'data-toggle' => "tooltip", :title => "Mailbox", "data-placement"=> 'bottom'}
          %i.icon-envelope-alt.icon-large
      - else
        %a#mailbox.active.wiggler{ :onClick => "addModal()", 'data-toggle' => "tooltip", :title => "Mailbox", "data-placement"=> 'bottom' }
          %i.icon-envelope.icon-large.icon-active
          .badge.pulse
            = "" + current_user.received_messages.unread.count.to_s + ""
    %li.divider-vertical
    
    %li
      #instant-search-div
        %input{:type => "text", :id=>"instant-search", :class=>"instant-search-beforeLoad", :placeholder=> "Instant search"}

    %li{class: controller?("dashboard") ? "active" : ""}
      %a{:href => dashboard_path, :title => "Dashboard"}
        .hide-on-search
          Dashboard
        .hide-on-search.hidden
          %i.icon-dashboard.icon-large
    %li{class: controller?("challenges") ? "active" : ""}
      %a{:href => challenges_path, :title => "Challenges"}
        .hide-on-search
          Challenges
        .hide-on-search.hidden
          %i.icon-lightbulb.icon-large

    -if current_user.is_admin?
      %li{class: controller?("admin/review") ? "active": ""}
        -if Challenge.pending.count > 0
          .badge.pulse
            = Challenge.pending.count
        %a{:href => admin_review_index_path, :title => "Review"}
          .hide-on-search
            Review
          .hide-on-search.hidden
            %i.icon-comments-alt
      %li{class: controller?("admin/usermanagement") ? "active": ""}
        %a{:href => admin_usermanagement_index_path, :title => "Usermanagement"}
          .hide-on-search
            Users
          .hide-on-search.hidden
            %i.icon-group

  %ul.nav.pull-right
    %li.dropdown
      %a{"class" => "dropdown-toggle " + ((controller?("profile") || controller?("users/registrations")) ? "active" : ""), "data-toggle" => "dropdown", :href => "#"}
        .hide-on-search
          = current_user.decorate.fullname
          %b.caret
        .hide-on-search.hidden
          %i.icon-user.icon-large
          %b.caret
      %ul.dropdown-menu{"role" => "menu"}
        %li
          %a.active{:href => profile_user_path(current_user)}
            %i.icon-user
            Profile
        %li
          %a{:href => edit_user_registration_path}
            %i.icon-cog.icon-large
            Settings
        %li.divider
        %li
          %a{:href => destroy_user_session_path}
            %i.icon-signout.icon-large
            Sign out
- else
  %ul.nav.pull-right
    %li
      = link_to('Login', new_user_session_path)
