%a.brand{href: root_path}
  = image_tag "logowhite28.png"
  %span
    = precede("Science") do
      %strong Challenges
%ul.nav
- if user_signed_in?
  %ul.nav
    %li{class: controller?("dashboard") ? "active" : ""}
      = link_to('Dashboard', dashboard_path)
    %li{class: controller?("challenges") ? "active" : ""}
      = link_to('Challenges', challenges_path)
    -if current_user.is_admin?
      %li{class: controller?("admin/review") ? "active": ""}
        = link_to('Review', admin_review_index_path)
  %ul.nav.pull-right
    %li.divider-vertical
    %li
      -if controller?("users/registrations")
        %a.active{:href => edit_user_registration_path, 'data-toggle' => "tooltip", :title => "Settings", :id => "settings_tooltip", "data-placement"=> 'bottom'}
          %i.icon-cog.icon-large.icon-active
      -else
        %a.inactive{:href => edit_user_registration_path, 'data-toggle' => "tooltip", :title => "Settings", :id => "settings_tooltip", "data-placement"=> 'bottom'}
          %i.icon-cog.icon-large
    %li.divider-vertical
    %li
      - if current_user.received_messages.unread.empty?
        %a#mailbox.inactive{ :onClick => "addModal()" ,  'data-toggle' => "tooltip", :title => "Mailbox", "data-placement"=> 'bottom'}
          %i.icon-envelope.icon-large
      - else
        %a#mailbox.active{ :onClick => "addModal()", 'data-toggle' => "tooltip", :title => "Mailbox", "data-placement"=> 'bottom' }
          %i.icon-envelope-alt.icon-large.icon-active
          .badge
            = "" + current_user.received_messages.unread.count.to_s + ""
    %li.divider-vertical
    %li
      %a{:href => destroy_user_session_path, 'data-toggle' => "tooltip", :title => "Logout", :id => "logout_tooltip", "data-placement"=> 'bottom'}
        %i.icon-signout.icon-large
    %li.divider-vertical
- else
  %ul.nav.pull-right
    %li
      = link_to('Login', new_user_session_path)

%script
  $("#logout_tooltip").tooltip()
  $("#mailbox").tooltip()
  $("#settings_tooltip").tooltip()
