= link_to "Science Challenges", root_path, :class => 'brand'
%ul.nav
  %li{class: controller?("static") ? "active" : ""}
    = link_to('Home', static_index_path)
- if user_signed_in?
  %ul.nav
    %li{class: controller?("dashboard") ? "active" : ""}
      = link_to('Dashboard', dashboard_path)
    %li{class: controller?("challenges") ? "active" : ""}
      = link_to('Challenges', challenges_path)
    %li{class: controller?("users/registrations") ? "active" : ""}
      = link_to('Edit account', edit_user_registration_path)
    -if current_user.is_admin?
      %li{class: controller?("admin/review") ? "active": ""}
        = link_to('Review', admin_review_index_path)
  %ul.nav.pull-right
    %li.divider-vertical
    %li
      - if current_user.received_messages.unread.empty?
        %a#mailbox.inactive{ :onClick => "addModal()" }
          %i.icon-envelope.icon-large
      - else
        %a#mailbox.active{ :onClick => "addModal()" }
          %i.icon-envelope-alt.icon-large.icon-active
          .badge
            = "" + current_user.received_messages.unread.count.to_s + ""
    %li.divider-vertical
    %li
      = link_to('Logout', destroy_user_session_path)
- else
  %ul.nav.pull-right
    %li
      = link_to('Login', new_user_session_path)
